body{
    margin: 0;
    background-color: #D2D8E5;
  
  }
  
    .imagen-banner{
      background-image: linear-gradient( rgba(72, 72, 75, 0.52), rgba(10, 14, 12, 0.73)),url(../../../views/assets/img/cbd-banner.jpg);
      height: 350px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  
   .quienes-somos h1{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    font-family: 'Pacifico', cursive;
   }
  
   .seccion-1 p{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 70px;
    font-size: 23px;
    padding-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
   }
  
  .contenedor{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    background-color: #445F5C;
  
  }
  
  .tarjetas .tarjeta{
    flex: 1;
    width: 240px;
    height: 350px;
    margin: 50px 50px;
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
    overflow: hidden;
  }
  
  .tarjeta img{
    width: 120px;
    height: 120px; 
    border-radius: 600px;
    padding: 20px;
  }
  
  .seccion-tarjeta{
    background-color: #445F5C;
  }
  
  @media screen and (max-width: 950px){
    .tarjetas{
      flex-direction: column;
    }
  }
  
  .tarjeta h3{
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
  }
  
  .tarjeta p{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .iconos{
    font-size: 22px;
    color: darkgrey;
  }
  