<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="../../views/assets/css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="container">
       
            <div class="msj">
                <h2>Bienvenido,<br> Inicia sesión para continuar</h2>
            </div>
    
        <form class="forms">

            <img src="../../views/assets/img/logo.png" alt="">
            <h2>AuraBotanica</h2>

            <div class="inputs">

                <input class="email" type="email" placeholder="Correo Electronico">
                <input class="psw" type="password" placeholder="Contraseña">

                <input class="submit" type="submit" value="Continuar">

            </div>
        </form>
    </div>
    
</body>
</html>

