<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />

    <title>AuraBotanica</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="main-info-container">
          <img class="logo-img" src="../assets/img/Logo.png" alt="" />
          <h4 class="nav-title">AuraBotanica</h4>
        </div>
        <div class="data-container">
          <div class="productos">
            <h5>Productos</h5>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="servicios">
            <h5>Servicios</h5>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="bg-container">
      <span></span>
    </div>
  </body>
</html>
