<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../assets/css/index.css" />

    <title>AuraBotanica</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="main-info-container">
          <img class="logo-img" src="../assets/img/Logo.png" alt="" />
          <h4 class="nav-title">AuraBotanica</h4>
        </div>
        <div class="data-container">
          <div class="productos">
            <h5>Productos</h5>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
          <div class="servicios">
            <h5>Servicios</h5>
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </div>
      </div>
    </nav>
    <div class="bg-container">
      <span></span>
    </div>
    <div class="presentation-container">
      <div class="txt-presentation-container">
        <h5 class="txt-presentation-title">
          Productos CBD en la palma de tu mano
        </h5>
        <p class="txt-presentation-content">
          ¡Descubre el poder del CBD para tu bienestar! En AuraBotanica te
          ofrecemos productos de alta calidad, elaborados con los más altos
          estándares. Mejora tu salud y encuentra armonía natural con nuestra
          gama de productos CBD.
        </p>
        <button class="btn-iniciar">Iniciar</button>
      </div>
      <div class="img-presentation">
        <img class="cbd-oil-img" src="../assets/img/CBD-oil.png" alt="" />
        <div class="contact-box-container">
          <h3 class="contact-box">Contacto</h3>
        </div>
      </div>
    </div>
    <div class="about-us-container">
      <img class="about-us-logo" src="../assets/img/logo.png" alt="" />
      <p class="about-us-txt">
        ¡Bienvenido al mundo del bienestar y la armonía natural! En
        AuraBotanica, nos enorgullece presentarte una gama única de productos de
        CBD de alta calidad, diseñados para mejorar tu salud y elevar tu calidad
        de vida. En un mundo cada vez más agitado y estresante, buscamos
        proporcionarte una experiencia única de relajación y equilibrio. <br />
        Nuestros productos de CBD, cuidadosamente formulados y elaborados con
        los más altos estándares, te brindarán los beneficios terapéuticos de
        esta maravillosa planta sin los efectos psicoactivos asociados al
        cannabis.
      </p>
    </div>
    <div class="productos-container">
      <div class="productos-ifo-container">
        <div class="productos-imgs">
          <img class="img-producto" src="../assets/img/producto1.jpg" alt="" />
          <img class="img-producto" src="../assets/img/producto2.jpg" alt="" />
          <img class="img-producto" src="../assets/img/producto3.jpg" alt="" />
        </div>
        <div class="productos-txt">
          <p class="productos-txt-content">
            Ofrecemos una amplia variedad de productos de CBD cuidadosamente
            seleccionados para satisfacer tus necesidades y preferencias
            individuales. Nuestro catálogo incluye: Aceites de CBD , cremas y
            ungüentos, productos para el cuidado personal.
            <br />
            En AuraBotanica, nos esforzamos por brindarte productos de la más
            alta calidad, con ingredientes naturales y pureza garantizada.
            Descubre cómo el CBD puede mejorar tu bienestar y llevar tu vida a
            un nuevo nivel de equilibrio y armonía.
          </p>
        </div>
        <footer>
          <div class="socials">
            <i class="fa-brands fa-instagram fa-2x"></i>
            <i class="fa-brands fa-whatsapp fa-2x"></i>
            <i class="fa-regular fa-envelope fa-2x"></i>
          </div>
          <p class="copy">Derechos reservados AuraBotanica 2023</p>
        </footer>
      </div>
    </div>
  </body>
</html>
