<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/quienes-somos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

     <section> 
      <div class="imagen-banner">
          <div class="texto-banner">
          </div>
      </div>
    </section>     

        <section class="seccion-1"> 
          <div class="quienes-somos">
            <h1>¿Quienes somos?</h1>
            <p> Bienvenidos a AuraBotanica, tu tienda confiable para productos de CBD de alta calidad. En AuraBotanica, 
              nos apasiona proporcionar soluciones naturales y efectivas para mejorar el bienestar y la calidad de vida de nuestros clientes. Creemos en los beneficios del CBD y nos esforzamos por ofrecer una amplia selección de productos premium derivados del cáñamo. 
              Nuestro objetivo es brindar a nuestros clientes acceso a productos de CBD confiables y seguros, 
              respaldados por rigurosos estándares de calidad y transparencia.
            </p>
            
            </p>
          </div>
      </section>

   
      <!-- Cuando se aplique PHP solo se utiliza div class="tarjeta" -->

      <section class="seccion-tarjeta"> 
      <div class="contenedor">
        <div class="tarjetas"> 
          <div class="tarjeta">
            <img src="../assets/img/ceo_ejemplo.png" alt="">
            <h3>Elon Musk</h3>
            <p>CEO</p>
            <div class="iconos"> 
              <i class="fa-brands fa-square-twitter"></i>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-google-plus"></i>
            </div>
          </div>

          <div class="tarjeta">
            <img src="../assets/img/ceo_ejemplo.png" alt="">
            <h3>Carlos Alberto</h3>
            <p>RRHH</p>
            <div class="iconos"> 
              <i class="fa-brands fa-square-twitter"></i>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-google-plus"></i>
            </div>
          </div>

          <div class="tarjeta">
            <img src="../assets/img/ceo_ejemplo.png" alt="">
            <h3>María Jóse</h3>
            <p>Mercadeo</p>
            <div class="iconos"> 
              <i class="fa-brands fa-square-twitter"></i>
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-linkedin"></i>
              <i class="fa-brands fa-square-google-plus"></i>
            </div>
          </div>

          
        </div>
      </div>
    </section>

   

</body>
</html>